* {
	margin: 0;
	padding:0;
}
canvas {
	position:absolute;
	top:0;left:0;right:0;bottom:0;
}
#props{
	position:absolute;
	width:320px;
	top:0;right:0;
	display:none;
	background-color:#fff;
	z-index: 99;
}
#info, #info tr, #info td{
	border:0 none;
}